/** Global css **/
:root {
    --primary-color:#F5F3EF;
    --secondary-color:#FAF9F7;
}
html, body {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    display : flex;
    flex-direction : column;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    background-color: #00AC66;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #006D41;
}
/** End Global css **/

/** Menu css **/
nav {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
}
nav a {
    margin: 0 10px;
    color : #292929;
}
nav a.active {
    font-weight: bold;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo img{
    height: 50px;
}
nav .leftMenu{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
nav .rightMenu{
    margin-left: auto;
    display: flex;
    align-items: center;
}
/** End Menu css **/

/** Home css **/
.section h1 {
    color : black;
    text-align: center;
}
.section-hero {
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px; 
    margin: 0 auto;
    gap : 20px;
    padding : 80px;
}
.section-hero .hero-text {
    max-width: 500px;
}
.section-hero .hero-image img {
    width: 100%;
    max-width: 450px;
    max-height: 900px;
    border-radius: 10px;
}
.section-hero .hero-image figcaption {
    text-align: right;
    margin-top: 10px;
    font-style: italic;
    color: #555;
}
.section-lastBooks {
    background-color: var(--secondary-color);
    align-items: center;
    text-align: center;
    padding : 80px;
}
.section-lastBooks .lastBooks {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
}
.section-lastBooks .bookCard {
    min-width: 200px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
.section-lastBooks img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.section-lastBooks figcaption {
    padding: 10px;
}
.section-lastBooks figcaption:nth-of-type(1) {
    font-weight: bold;
}
.section-lastBooks figcaption:nth-of-type(2) {
    color: #A6A6A6;
}
.section-lastBooks figcaption:nth-of-type(3) {
    color: #A6A6A6;
    font-style: italic;
}
.section-steps {
    padding : 80px;
    text-align: center;
}
.section-steps .steps {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
}
.section-steps .step {
    max-width: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
}
.section-values {
    padding : 80px;
    align-items: center;
    margin : auto;
}
.section-values p {
    max-width: 500px;
    margin : auto;
    padding : 8px;
}
.section-values em {
    color : #A6A6A6;
    font-size: 12px;
}
/** End Home css **/

/** Footer css **/
footer {
    padding : 20px;
    background-color: white;
}
footer .footerContent {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 0 auto;
}
footer .footerContent p {
    margin: 0 10px;
}
footer .footerContent img {
    height: 21px;
    margin-left: 20px;
}
/** End Footer css **/

/** ExchangeBooks css **/
.exchangeBookLayout {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}
.exchangeBookHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.searchBar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}
.exchangeBookList {
    display: flex;
    justify-content: space-between;
    gap : 20px;
    max-width: 1000px;
}
.exchangeBook {
    border-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}
.exchangeBook img {
    width: 100%;
}
.exchangeBook h2 {
    font-size: 16px;
    margin: 10px 0 5px 0;
    padding-left: 10px;
}
.exchangeBook p {
    color: #A6A6A6;
    font-size: 14px;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
}
.exchangeBook em {
    color: #A6A6A6;
    font-size: 10px;
    padding-left: 10px;
}
/** End ExchangeBooks css **/
/** Messages css **/
.messagesLayout {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}
.contactMenu {
    flex:1;
    display: flex;
    gap: 20px;
}
.contactList {
    flex: 0 0 200px;
    background-color: var(--secondary-color);
    padding : 10px;
}
.contactList .contactItem {
    display: flex;
    align-items: center;
    padding: 10px;
}
.contactList .contactInfo {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.contactList img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.contactList .content {
    color: #A6A6A6;
    font-size: 14px;
    margin: 0;
}
.conversation {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    overflow-y: auto;
}
.conversation .contactInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.conversation .contactInfo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.sentMessage {
    background-color: #EDF2F6;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    margin-left: auto;
    width: fit-content;
}
.receivedMessage {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    width: fit-content;
}
.conversation .sendMessageForm {
    align-items: center;
    display: flex;
}
.conversation .messageBar {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.conversation .submit {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
}
/** End Messages css **/
/** Account css **/
.accountLayout {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
    gap : 40px;
    padding : 40px 0;
}
.accountLayout .accountHeader {
    display: flex;
    align-items: stretch;
    gap : 40px;
}
.accountLayout .description {
    flex : 1;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}
.accountLayout .description .descriptionImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 10px;
}
.accountLayout .description .descriptionImage img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.accountLayout .description .descriptionInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 5px;
    border-top: #292929 1px solid;
}
.accountLayout .infoAccount {
    flex : 1;
    background-color: white;
    border-radius: 16px;
}
.accountLayout .infoAccount form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin : 0 auto;
}
.accountLayout .infoAccount form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.accountLayout .infoAccount form button {
    width : 150px;
}
.accountLayout .library{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.accountLayout .library .libraryGrid {
    display: grid;
    grid-template-columns: 80px 2fr 1.5fr 3fr 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}
.accountLayout .library .headerLibrary {
    border-bottom: #F5F3EF 1px solid;
    padding : 15px;
    font-size: 12px;
    color: #888;
}
.bookInLibrary, .bookInLibraryElse {
    padding: 15px;
    font-size: 12px;
}
.bookInLibraryElse {
    background-color: #EDF2F6;
}
.accountLayout .library img {
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 5px;
}
.accountLayout .status {
    padding : 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    width : fit-content;
}
.accountLayout .actionEdit a {
    color : #292929;
    font-weight: 500;
}
.accountLayout .actionDelete a {
    color : #FF4C4C;
}
/** End Account css **/
/** Detail Book css **/
.articleList {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
.article {
    display: flex;
    background-color: white;
    width : 100%;
}
.bookImage {
    flex: 1;
    max-width : 720px;
}
.bookImage img {
    width : 100%;
    height : 100%;
    object-fit: cover;
    display: block;
}
.bookInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 40px;
    margin: 0 auto;
    max-width: 485px;
}
.bookInfo .bar {
    border :  #A6A6A6 1px solid ; 
    width : 27px;
}
.bookInfo h2 {
    font-size: 36px;
}
.bookInfo h4 {
    font-size: 8px;
    text-transform: uppercase;
}
.bookInfo .author {
    font-size: 16px;
    color: #A6A6A6;
}
.bookInfo .description {
    font-size: 14px;
    color: #292929;
}
.bookInfo .owner {
    display: flex;
    align-items: center;
    gap: 10px;
}
.bookInfo .owner img {
    width : 48px;
    height : 48px;
    border-radius: 50%;
}

/** End Detail Book css **/
/** EditBook css **/
.editBookLayout {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: white;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 40px;
}
.headerEditBook h1 {
    font-size: 26px;
    margin: 40px auto 20px auto;
    max-width: 1100px;
}
.editBookLayout label {
    color: #A6A6A6;
    font-size: 14px;
}
.editBookLayout .editBookForm {
    display: flex;
    width: 100%;
    gap: 60px;
}
.editBookLayout .bookImage {
    flex : 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.editBookLayout .bookImage img {
    width : 488px;
    height : 488px;
    object-fit: cover;
}
.editBookLayout .bookImage a {
    text-align: right;
    font-size: 12px;
    text-decoration: underline;
}
.editBookLayout .bookInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 435px;
}
.editBookLayout .bookInfo input,textarea,select {
    background-color: #EDF2F6;
    border: none;
    border-radius: 6px;
    padding: 12px;
}
.editBookLayout .bookInfo textarea.description {
    min-height: 180px;
    resize: none;
}
.editBookLayout .bookInfo .submit {
    margin-top: 30px;
    padding: 14px;
    align-self: flex-start;
}
/** End editBook css **/
/** InscriptionForm css **/
.inscription-form, .connection-form {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
}
.inscription-form .formWrapper, .connection-form .formWrapper{
    flex: 0 0 480px;
    padding: 80px 60px;
    display: flex;
    align-items: center;
}
.inscription-form form, .connection-form form{
    width: 100%;
}
.inscription-form .formGrid, .connection-form .formGrid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inscription-form label, .connection-form label {
    color : #A6A6A6;
    font-size: 14px;
}
.inscription-form input, .connection-form input {
    background-color: #FFFFFF;
    border: none;
    border-radius: 6px;
    padding: 12px;
    border: #F0F0F0 1px solid;
}
.inscription-form h2,.connection-form h2 {
    font-size: 36px;
}
.inscription-form p,.connection-form p {
    font-size: 14px;
}
.inscription-form a,.connection-form a {
    text-decoration: underline;
}
.inscription-form img,.connection-form img {
    object-fit: cover;
}
/** End InscriptionForm css **/