/** Global css **/
:root {
    --primary-color:#F5F3EF;
    --secondary-color:#FAF9F7;
}
html, body {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    display : flex;
    flex-direction : column;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    background-color: #00AC66;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #006D41;
}
/** End Global css **/

/** Menu css **/
nav {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
}
nav a {
    margin: 0 10px;
    color : #292929;
}
nav a.active {
    font-weight: bold;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo img{
    height: 50px;
}
nav .leftMenu{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
nav .rightMenu{
    margin-left: auto;
    display: flex;
    align-items: center;
}
/** End Menu css **/

/** Home css **/
.section h1 {
    color : black;
    text-align: center;
}
.section-hero {
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px; 
    margin: 0 auto;
    gap : 20px;
    padding : 80px;
}
.section-hero .hero-text {
    max-width: 500px;
}
.section-hero .hero-image img {
    width: 100%;
    max-width: 450px;
    max-height: 900px;
    border-radius: 10px;
}
.section-hero .hero-image figcaption {
    text-align: right;
    margin-top: 10px;
    font-style: italic;
    color: #555;
}
.section-lastBooks {
    background-color: var(--secondary-color);
    align-items: center;
    text-align: center;
    padding : 80px;
}
.section-lastBooks .lastBooks {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
}
.section-lastBooks .bookCard {
    min-width: 200px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
.section-lastBooks img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.section-lastBooks figcaption {
    padding: 10px;
}
.section-lastBooks figcaption:nth-of-type(1) {
    font-weight: bold;
}
.section-lastBooks figcaption:nth-of-type(2) {
    color: #A6A6A6;
}
.section-lastBooks figcaption:nth-of-type(3) {
    color: #A6A6A6;
    font-style: italic;
}
.section-steps {
    padding : 80px;
    text-align: center;
}
.section-steps .steps {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
}
.section-steps .step {
    max-width: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
}
.section-values {
    padding : 80px;
    align-items: center;
    margin : auto;
}
.section-values p {
    max-width: 500px;
    margin : auto;
    padding : 8px;
}
.section-values em {
    color : #A6A6A6;
    font-size: 12px;
}
/** End Home css **/

/** Footer css **/
footer {
    padding : 20px;
    background-color: white;
}
footer .footerContent {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 0 auto;
}
footer .footerContent p {
    margin: 0 10px;
}
footer .footerContent img {
    height: 21px;
    margin-left: 20px;
}
/** End Footer css **/

/** ExchangeBooks css **/
.exchangeBookLayout {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}
.exchangeBookHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.searchBar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}
.exchangeBookList {
    display: flex;
    justify-content: space-between;
    gap : 20px;
    max-width: 1000px;
}
.exchangeBook {
    border-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}
.exchangeBook img {
    width: 100%;
}
.exchangeBook h2 {
    font-size: 16px;
    margin: 10px 0 5px 0;
    padding-left: 10px;
}
.exchangeBook p {
    color: #A6A6A6;
    font-size: 14px;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
}
.exchangeBook em {
    color: #A6A6A6;
    font-size: 10px;
    padding-left: 10px;
}
/** End ExchangeBooks css **/
/** Messages css **/
.messagesLayout {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}
.contactMenu {
    flex:1;
    display: flex;
    gap: 20px;
}
.contactList {
    flex: 0 0 200px;
    background-color: var(--secondary-color);
    padding : 10px;
}
.contactList .contactItem {
    display: flex;
    align-items: center;
    padding: 10px;
}
.contactList .contactInfo {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.contactList img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.contactList .content {
    color: #A6A6A6;
    font-size: 14px;
    margin: 0;
}
.conversation {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    overflow-y: auto;
}
.conversation .contactInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.conversation .contactInfo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.sentMessage {
    background-color: #EDF2F6;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    margin-left: auto;
    width: fit-content;
}
.receivedMessage {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    width: fit-content;
}
.conversation .sendMessageForm {
    align-items: center;
    display: flex;
}
.conversation .messageBar {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.conversation .submit {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
}
/** End Messages css **/
/** Account css **/
.accountLayout {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left : 10%;
    margin-right : 10%;
    padding-bottom: 40px;
}
.accountLayout .accountHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap : 20px;
}
.accountLayout .description {
    flex : 1;
    gap: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.accountLayout .description .descriptionImage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accountLayout .description .descriptionImage img {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.accountLayout .description .descriptionImage a {
    display: flex;
}
.accountLayout .description .descriptionInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-top: #292929 1px solid;
}
.accountLayout .infoAccount {
    flex : 1;
    background-color: white;
    margin: 20px 0;
    border-radius: 10px;
}
.accountLayout .infoAccount form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
.accountLayout .infoAccount form input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.accountLayout .infoAccount form button {
    width : 150px;
    align-self: flex-start;
}
.accountLayout .library{
    flex : 3;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.accountLayout .library .headerLibrary {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-bottom: #F5F3EF 1px solid;
    padding : 10px;
}
.accountLayout .library .libraryList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.accountLayout .library .bookInLibrary {
    display : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-size: 12px;
    padding : 10px;
}
.accountLayout .library .bookInLibraryElse {
    display : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items: center;
    background-color: #EDF2F6;
    font-size: 12px;
    padding : 10px;
}
.accountLayout .library img {
    width: 78px;
    height: 78px;
}